[package]
name = "zeroize"
version = "0.4.22"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "zeroize"
crate-type = ["cdylib"]

[dependencies]
pyo3 = "0.21.2"
zeroize_rs = { version = "1.8.1", package = "zeroize"}
numpy = "0.21"
memsec = "0.6.3"
libc = "0.2.155"
